{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Zmiana hasła</h1>

        {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }}
        <button class="btn btn-primary mt-3">🔑 Zmień hasło</button>
        {{ form_end(form) }}

        <p class="mt-3">
            <a href="{{ path('app_admin') }}" class="btn btn-secondary">← Powrót</a>
        </p>
    </div>
{% endblock %}
