{% extends 'base.html.twig' %}
{% block title %}Nowy przepis{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>➕ Dodaj nowy przepis</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.category) }}

        {{ form_row(form.tags) }}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-3">
                <small>Brak potrzebnego tagu?
                    <a class="nav-link" style="display:inline; padding:0" href="{{ path('tag_new') }}">➕ Dodaj tag</a>
                    (otworzy w tym samym oknie)
                </small>
            </div>
        {% endif %}

        <button class="btn btn-success mt-2">💾 Zapisz</button>
        {{ form_end(form) }}

        <p class="mt-3">
            <a href="{{ path('app_recipe_index') }}" class="btn btn-outline-secondary btn-sm">← Wszystkie przepisy</a>
        </p>
    </div>
{% endblock %}
